REACT_APP_PROXY_HOST= "http://localhost:5000/"
REACT_APP_PROXY_VERSION ="core/v1"



# email js

REACT_APP_SERVICE_ID="service_wd6c4jj"
REACT_APP_TEMPLATE_ID="template_r4c4g2u"
REACT_APP_PUBLIC_KEY="V9I0-njg3sp3w88rK"

# email account (email js): contact@erathis.net
# account password (email js): 123456789


# Hello ,

# You got a new message from {{name}}:

# {{email}}

# {{company}}

# {{subject}}

# {{message}}

# Best wishes,
# KWK Frontpage